.joblist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jobitem  {
    width: 400px;
    margin: 10px;
    border: gray 1px solid;
    border-radius: 15px;
}

.jobitem:hover {
    background-color: rgb(196, 196, 196);
}

.title {
    padding: 5px;
    padding-bottom: 0px;
    font-weight: bold;
    color: white;
    background-color: rgb(133, 209, 139);
    border-top-right-radius:15px;
    border-top-left-radius:15px;
}
.company {
    padding-left: 5px;
    padding-bottom: 5px;
}

.scrollable {
    height:85vh; /* or any value */
    overflow-y: auto;
}

.jobcontainer {
    display: flex;
    justify-content: center;
}

.jobdescription {
    width:50%;
    padding-left: 25px;
}

.applybtn {
    background-color: rgb(133, 209, 139);
    border-radius:5px;
    padding: 10px;
    color: white;
}